@model UpdateBlogDto
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yazar Blog Giriş Alanı.</h4>
                        <p class="card-subtitle mb-4"> Yeni Blog Giriş Alanını Buradan Yapabilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="BlogId" />
                            <div class="form-group">
                                <label for="exampleInputtitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputtitle" asp-for="Title" placeholder="Blog Başlığı Giriniz.">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputauthorId">Yazar Id</label>
                                <input type="text" class="form-control" id="exampleInputauthorId" asp-for="AuthorId" placeholder="Yazar Id Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputcoverImageUrl">Resim</label>
                                <input type="text" class="form-control" id="exampleInputcoverImageUrl" asp-for="CoverImageUrl" placeholder="Resim YoluGiriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputcategoryId">Kategori</label>
                                <input type="text" class="form-control" id="exampleInputcategoryId" asp-for="CategoryId" placeholder="Kategori Seçiniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama </label>
                                <textarea rows="5" asp-for="Descripiton" class="form-control" placeholder="Açıklamayı Giriniz"></textarea>

                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Blog'u Kaydet </button>
                        </form>

                    </div>
                </div>


            </div>

        </div>


    </div>
</div>

